.main-info-container {
    max-width: 470px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 60px;
}

.company-span {
    color: orange;
    font-weight: 700;
    margin-bottom: 20px;
}

.title-product {
    font-size: 48px;
    line-height: 45px;
    margin-bottom: 30px;
}

.description-product {
    color: gray;
    font-weight: 400;
    margin-bottom: 20px;
}

.price-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.price {
    font-weight: 700;
    font-size: 26px;
}

.price-cheap {
    margin-left: 10px;
    font-weight: 600;
    color: rgb(243, 135, 12);
    padding: 2px 5px;
}

.old-price {
    color: gray;
    font-weight: 600;
    text-decoration: line-through;
    margin-bottom: 45px;
}

.footer-info {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}

.contador-container {
    width: 40%;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    border-radius: 10px;
    align-items: center;
    user-select: none;
}

.btn {
    cursor: pointer;
    width: 35px;
    height: 35px;
    color: rgb(243, 135, 12);
}

.btn:hover {
    color: rgb(241, 176, 115);
}

.contador {
    font-weight: 600;
    font-size: 18px;
}

.add-btn {
    width: 60%;
    background-color: rgb(243, 135, 12);
    padding: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.add-btn:hover {
    background-color: rgb(245, 198, 111);
}

.log-add-btn {
    margin-right: 10px;
    width: 24px;
    height: 24px;
}

.add {
    font-weight: 600;
    font-size: 17px;
}

@media only screen and (max-width: 1110px) {
    .main-info-container {
        margin-left: 30px;
    }
}

@media only screen and (max-width: 980px) {
    .main-info-container {
        margin-left: 0;
        max-width: 430px;
        padding: 0 20px;
    }
    .company-span {
        font-weight: 700;
        margin-bottom: 10px;
        font-size: 14px;
    }    
    .title-product {
        font-size: 28px;
        line-height: 35px;
        margin-bottom: 15px;
    }
    .old-price {
        margin: 0 0 0 auto;
        margin-bottom: 25px;
        margin-top: -28px;
    }
    .footer-info {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }
    .contador-container {
        width: 100%;
        margin-bottom: 15px;
    }
    .add-btn {
        width: 90%;
        margin-bottom: 80px;
    }
}