.main-info-container {
    max-width: 470px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 60px;
}

.company-span {
    color: orange;
    font-weight: 700;
    margin-bottom: 20px;
}

.title-product {
    font-size: 48px;
    line-height: 45px;
    margin-bottom: 30px;
}

.description-product {
    color: gray;
    font-weight: 400;
    margin-bottom: 20px;
}

.price-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.price {
    font-weight: 700;
    font-size: 26px;
}

.price-cheap {
    margin-left: 10px;
    font-weight: 600;
    color: rgb(219, 150, 20);
    background-color: rgb(240, 220, 185);
    padding: 2px 5px;
}

.old-price {
    color: gray;
    font-weight: 600;
    text-decoration: line-through;
    margin-bottom: 45px;
}

.footer-info {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}

.contador-container {
    width: 40%;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    border-radius: 10px;
    align-items: center;
}

.btn {
    cursor: pointer;
    width: 35px;
    height: 35px;
    color: orange;
}

.btn:hover {
    color: rgb(231, 193, 123);
}

.contador {
    font-weight: 600;
    font-size: 18px;
}

.add-btn {
    width: 60%;
    background-color: orange;
    padding: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.add-btn:hover {
    background-color: rgb(245, 198, 111);
}

.log-add-btn {
    margin-right: 10px;
    width: 24px;
    height: 24px;
}

.add {
    font-weight: 600;
    font-size: 17px;
}