nav {
    margin: auto;
    width: 90%;
    display: flex;
    align-items: center;
    padding: 15px 30px;
    border-bottom: 2px solid rgb(219, 216, 216);
}

.list-icon {
    display: none;
}

img {
    cursor: pointer;
}

.desktop-ul {
    list-style: none;
    display: flex;
    margin-left: 35px;
}

.desktop-li {
    cursor: pointer;
    margin-left: 32px;
    font-weight: 600;
    color: gray;
    font-size: 18px;
    border-bottom: 3px solid transparent;
}

.desktop-li:hover {
    color: black;
    border-bottom: 3px solid orange;
}

.profile-main {
    display: flex;
    align-items: center;
    margin: 0 0 0 auto;
}

.cart-logo {
    width: 25px;
    height: 25px;
    margin-right: 45px;
    cursor: pointer;
    color: gray;
}

.cart-logo:hover {
    color: black;
}

.avatar-img {
    width: 60px;
    border-radius: 50%;
    border: 3px solid transparent;
}

.avatar-img:hover {
    border: 3px solid orange;
}

@media only screen and (max-width: 850px) {
    nav {
        width: 100%;
        border: none;
        padding: 10px 20px;
    }
    .desktop-ul {
        display: none;
    }
    .list-icon {
        display: flex;
        min-width: 35px;
        height: 35px;
        margin-right: 10px;
        cursor: pointer;
    }
    .cart-logo {
        margin-right: 10px;
        color: black;
    } 
    .avatar-img {
        width: 40px;
    }
}


