.main-gallery {
    width: 480px;
    height: 630px;
}

img {
    width: 100%;
    min-height: auto;
    border-radius: 15px;
}

.main-photo-gallery {
    width: 100%;
    height: auto;
    cursor: pointer;
}

.options-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    width: 100%;
}

.option {
    width: 90px;
    height: 90px;
    cursor: pointer;
    border-radius: 17px;
}

.border {
    border: 2px solid orange;
}

.selected {
    opacity: .3;
}