.main-gallery {
    max-width: 480px;
    height: 630px;
    margin-right: 60px;
}

img {
    width: 100%;
    min-height: auto;
    border-radius: 15px;
    user-select: none;
}

.main-photo-gallery {
    width: 100%;
    height: auto;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-scroll-container {
    display: none;
}

.btn-scroll {
    cursor: pointer;
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
}

.btn-scroll:hover {
    color: rgb(243, 135, 12);
}

.options-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    width: 100%;
}

.option {
    width: 90px;
    height: 90px;
    cursor: pointer;
    border-radius: 17px;
}

.img-option:hover {
    opacity: .3;
}

.border {
    border: 2px solid orange;
}

.selected {
    opacity: .3;
}

.disabled {
    cursor: not-allowed;
    user-select: none;
    opacity: .5;
}

@media only screen and (max-width: 1110px) {
    .main-gallery {
        margin-right: 30px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 980px) {
    .main-gallery {
        margin-right: 0;
        max-width: 420px;
        height: auto;
    }
    .main-photo-gallery {
        width: 100%;
    }
    .options-container {
        display: none;
    }
    .btn-scroll-container {
        display: flex;
        width: 390px;
        position: absolute;
        justify-content: space-between;
    }
}

@media only screen and (max-width: 850px) {
    img {
        border-radius: 0;
    }
}

@media only screen and (max-width: 570px) {
    .main-gallery {
        margin-top: 0;
    }
}

@media only screen and (max-width: 375px) {
    .btn-scroll-container {
        width: 350px;  
    }
}

@media only screen and (max-width: 285px) {
    .btn-scroll-container {
        width: 250px;  
    }
}