.App {
    width: 100%;
    height: 100vh;
    background-color: rgb(236, 236, 238);
}

.main-contain {
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

@media only screen and (max-width: 980px) {
    .main-contain {
        flex-direction: column;
        justify-content: flex-start;
        padding: 0;
        height: auto;
    }
}
